.histo-pedido-pagina{

    background-image: url('../../../public/assets/images/fundo.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 137vh;
    background-position-y: 30px;

    display: flex;
    background-color: #D9D9D9;
    height: 100vh;
    flex-direction: column;



.titulo{
    display: flex;
   justify-content: space-between;



}

.t{
    display: flex;
    

}

.t img{
    display: flex;
    height: 180px;
}

.t p{
    display: flex;
    margin-top: 60px;
    font-size: 20px;

}

.botoes{
    display: flex;
    margin-top: 60px;
    height: 30px;
    margin-left: 20vh;
}

.bt1{
    display: flex;
    width: 40px;
    align-items: center;
    border-radius: 50px;

}

.bt2{
    display: flex;
    width: 120px;
  align-items: center;
    border-radius: 50px;
    justify-content: center;
    font-size: 15px;
    
}


.bt3{
    display: flex;
    width: 40px;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
}


.bt2 img{
    display: flex;
    margin-left: 15px;

}


.btu{

display: flex;
margin-left: 200px;
margin-top: 60px;
height: 30px;

}

.btu button{
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 180px;
}

/* Estilos da tabela */
.tabela {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: left;
    display: table;
}

/* Estilos para as células de cabeçalho da tabela */
.tabela th {
    border: solid black 1px;
    color: black;
    font-weight: bold;
    padding: 9px;
    
    
}

/* Estilos para as células de dados da tabela */
.tabela td {
    padding: 10px;
    border: solid black 1px;
}

/* Estilize linhas alternadas, por exemplo, com uma cor de fundo diferente */
.tabela tbody tr:nth-child(odd) {
    border: solid black 1px;
}


.sac{
    display: flex;
    
    align-items: center;
 
}

.sac img{
display: flex;
height: 25px;
margin-right: 10px;
}

.ca{
    display: flex;
    
    align-items: center;
 
}

.ca img{
display: flex;
height: 25px;
margin-right: 10px;





}



.ca1{
    display: flex;
    
    align-items: center;
 
}

.ca1 img{
display: flex;
height: 25px;
margin-right: 10px;





}








}




