.dados-pessoais{

    
        
        overflow: hidden;

.mid-1{
    background-color: #D9D9D9;
        background-image: url('../../../public/assets/images/fundo.png');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position-x: 67vh;
        background-position-y: -170px;


    display: flex;
    flex-direction: row;
    margin-top: -3vh;
    
    background-color: #D9D9D9;
    border: 1px solid black;
    height: 77.7vh;
}

.qlqCoisa{
    display: flex;
    flex-direction: row;
    margin-left: 5vh;
}



.principal{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 2px solid black;
    width: 60vh;
    height: 86%;
    margin-top: 5vh;
    border-radius: 10px;
    box-shadow: -6px 5px #888888;


    .pt1{
        display: flex;
        flex-direction: column;
        margin-left: 3vh;
        margin-top: 2vh;
    }

    .pt1 h1{
            font-size: 2vh;
            margin-top: 1vh;
            
        }
    .pt1 p{
            font-size: 1.5vh;
    }


    .pt1 span{
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 1vh;
        padding-top: 6px;
        height: 4vh;
        width: 53vh;
        margin-top: 1vh;
    }


    .d1{
        display: flex;
        flex-direction: column;
    }

    .d2{
        display: flex;
        flex-direction: column;
    }

    .d2 span{
        height: 4vh;
        width: 25vh;
    }


    .pt2{
        display: flex;
        flex-direction: row;
        margin-left: 3vh;
        margin-top: 2vh;
    }

    .pt2 h1{
            font-size: 2vh;
        }
    .pt2 p{
            font-size: 1.5vh;
    }


    .pt2 span{
        border: 1px solid black;
        border-radius: 5px;
        height: 4vh;
        width: 25vh;
        margin-top: 1vh;
        margin-right: 3vh;
        padding-left: 1vh;
        padding-top: 6px;
    }

    .pt5{
        display: flex;
        flex-direction: column;

        span{
            width: 11vh;
        }
    }
    


   

    .atualizar{
        display: flex;
        border: 1px solid #0287BC;
        width: 20vh;
        height: 5vh;
        margin-top: 2vh;
        margin-left: 19vh;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        h1{
            font-size: 2vh;
            color: #0287BC;
        }
    }
}

.right{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    width: 35vh;
    margin-top: 10vh;
    margin-left: 2vh;
    .promocoes{
        display: flex;
        flex-direction: row;
        text-align: center;

        p{
            padding-left: 1vh !important;
        }
    
        span{
            height: 25px;
        }
    }

    .promocoes2{
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 20vh;
        line-height: 3.5vh;
        margin-left:7vh;
    }
}


.pgs3{
    display: flex;
    flex-direction: row;
    background-color: #888888;
    margin-left: -1vh;
    cursor: pointer;
            .imgs{
                height: 40px;
                width: 40px;
                margin-bottom: 1vh;
              margin-left: 1vh;
            }

            h1{
                font-size: 20px;
                margin-left: 1.5vh;
                margin-top: 1vh;
            }
    }
}