.pagina-pagamento {
   .principal{
        border-radius: 0px;
        box-shadow: none;
    }

    .identificacao{
        border: solid black 1px;
        
    } 

    .ident{
        margin-left: 170px;
    }

    .dados{
        margin-left: 25px;
        margin-top: 20px;
    }

















}

