
.pagina-pagamento2 {
  

    background-image: url('../../../public/assets/images/fundo.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 100%;
    background-position-y: 95px;

    background-color: #D9D9D9;
    
    .cds{
        display: flex;
        flex-direction: column;
        opacity: 50%;
       border: solid black 1px;
        height: 530px;
        margin-left: 450px;
        margin-top: 50px;
        width: 450px;
    }
    
    .cds h1 {
        display: flex;
        width: 100%;
        font-family: italic;
        align-items: center;
        justify-content: center;

        
    }
    
    
    
    .prf p{
        display: flex;
        margin-left: 20px;
         font-size: 17px;
    }
    
    .bt1{
        display: flex;
        height: 35px;
    
    }
    
    .bt1 input{
        display: flex;
        width: 380px;
        margin-left: 20px;
        font-size: 15px;
      margin-right: 50px;
    }
    
    .mrc{
        display: flex;
      margin-left: 35px;
    margin-top: 15px;
    
    }
    
    .mrc p{ 
        display: flex;
        font-size: 13px;
    }
    
    .bt2 input{
        display: flex;
        width: 380px;
        margin-left: 35px;
        font-size: 15px;
      margin-right: 50px;
    }
    
    .bt2{
        display: flex;
        height: 35px;
    
    }
    
    .nm input{
            display: flex;
            width: 380px;
            margin-left: 35px;
            font-size: 15px;
          margin-right: 50px;  
          margin-top: 20px;
          height: 30px;
    }
    
    .nm{
        display: flex;
        height: 55px;
    
    }
    
   
    
    

 
.verd{
    height: 10px;
    width: 10px;
    background-color: #108D1C;
    border-radius: 20px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
}
    .bloco{
        background-color: #ACACAC;
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 20px;
       
    }

    .ou{
        padding: 10px;
        margin-left: 10px;
    }

    .endereco{
        padding: 20px;
    }

    .cep{
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .bt2{
        margin-left: -15px;
    width: 200px;
    }

    .calc{
        margin-left: -45px;
        border-radius: 5px;
        background-color: #ACACAC;
        width: 100px;
    }

    .opcao{
        margin-left: 20px;
    }

    .bloco2{
        background-color: #ACACAC;
        padding: 20px;
        margin: 20px;


    }

    .dif{
        display: flex;
        flex-direction: row;
        margin-left: -20px;
    }

    .inf{
        margin-left:20px ;
    }

    .prazo{
        margin-left: 10px;
        margin-top: 10px;
    }

    .pag{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: #ffff;
       }

    .bt-verd{
    background-color: #02FF1B;
    color: #ffff;
    width: 300px;
    height: 28px;
    font-size: 15px;
    border: none;

    }


    .conteudo{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-left: -420px;
        margin-right: 0px;
    }

.formas{
    border: solid black 1px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 75px;
    margin-top: 20px;
}

.part-2{
   display: flex;
        flex-direction: column;
        
       border: solid black 1px;
        height: 400px;
        margin-left: 35px;
        margin-top: 50px;
        width: 450px;
  

}



.card{
width: 40px;
margin-right: 10px;
}

.card-d{
    width: 40px;
    margin-right: 10px;
}

.pix{
    width: 40px;
    margin-right: 10px;
}

.bole{
    width: 40px;
    margin-right: 10px;
}

.pagm{
    margin-top: 8px;
}


.part-2 > h1{
    display: flex;
    width: 100%;
    font-family: italic;
    align-items: center;
    justify-content: center;
  
}



.pagam{
    
    display: flex;
    width: 100%;
    font-family: italic;
    align-items: center;
    justify-content: center;
}


.pag-3{
    margin-top: 52px;
    width: 390px;
    margin-left: 40px;
}

.resum{
    color: #00A9D7;
    margin-left: 50px;
    
}

.qtd{
    margin-top:21px ;
}

.creat{
    width: 100px;
    height: 120px;
}

.infm{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.season-3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.req{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.section-req{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-req2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.pt{
    color: #00A9D7; 
}

.vl{
   color: #74BF79;
}

.verd-esc{
    color: #4AAE51;
}

.verd-esc2{
    color: #4AAE51;
    margin-left: 5px;
}


.pc{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:end ;
    
}

.valor{
    display: flex;
    justify-content: end;
}

.pontos{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.tot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #00A9D7; 
}

.verif{
width: 30px;
height: 30px;

}

.verificacoes{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.esp{
    margin-top: 4px;
}

.vf{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    margin-top:20px ;
    border-radius: 10px;
}

.verificado{
    height:30px;
    width: 30px;
    margin-left: 5px;
}

.nom{
    padding: 8px;
    font-size: 18px;
    margin-left: 12px;
}
}

