
.pagina-pagamento2 {
  

    background-image: url('../../../public/assets/images/fundo.png');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position-x: 100%;
    background-position-y:  110px;

    background-color: #D9D9D9;
    
    .cds{
        display: flex;
        flex-direction: column;
       border: solid black 1px;
        height: 100%;
        margin-left: 450px;
        margin-top: 50px;
        width: 450px;
        opacity: 30%;
        box-shadow: -5px 5px #ACACAC;
        border-radius: 5px;
    }
    
    .cds h1 {
        display: flex;
        width: 100%;
        font-style: italic;
        align-items: center;
        justify-content: center;

        
    }

    .informaçoes_pessoais{
        display: flex;
        flex-direction: column;
    }
    
    
    
    .prf p{
        display: flex;
        margin-left: 20px;
         font-size: 17px;
         margin-bottom: 5px;
         margin-top: 10px;
         font-style: italic;
    }
    
    .bt1{
        display: flex;
        height: 35px;
    
    }
    
    .bt1 span{
        display: flex;
        width: 380px;
        border: 1px solid black;
        border-radius: 5px;
        margin-left: 20px;
        font-size: 15px;
      margin-right: 50px;
      padding-left: 1vh;
      padding-top: 1vh;
      font-style: italic;
      
    }
    
    .mrc{
        display: flex;
      margin-left: 35px;
    margin-top: 15px;
    
    }
    
    .mrc p{ 
        display: flex;
        font-size: 13px;
    }
    
    .nm input{
            display: flex;
            width: 380px;
            margin-left: 35px;
            font-size: 15px;
          margin-right: 50px;  
          margin-top: 20px;
          height: 30px;
    }
    
    .nm{
        display: flex;
        height: 55px;
    
    }

    
    
   
    
    

 
.verd{
    height: 10px;
    width: 10px;
    background-color: #108D1C;
    border-radius: 20px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
}
    .blocoEndereco{
        background-color: #ACACAC;
        display: flex;
        flex-direction: column;
        margin: 10px;
        font-style: italic;
        font-size: 2vh;
    }

    .ou{
        padding: 10px;
        margin-left: 10px;
    }

    .endereco{
        margin-top: 5vh;
        padding-left: 1vh;
    }

    .cep{
        margin-bottom: 10px;
        margin-left: 20px;
    }

    .bt2{
        margin-left: -15px;
    width: 200px;
    }

    .calc{
        margin-left: -45px;
        border-radius: 5px;
        background-color: #ACACAC;
        width: 100px;
    }

    .opcao{
        margin-left: 20px;
    }

    .bloco2{
        background-color: #ACACAC;
        padding: 20px;
        margin: 20px;


    }

    .dif{
        display: flex;
        flex-direction: row;
        margin-left: -20px;
    }

    .inf{
        margin-left:20px ;
    }

    .prazo{
        margin-left: 10px;
        margin-top: 10px;
    }

    .pag{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        color: #ffff;
       }

    .bt-verd{
    background-color: #02FF1B;
    color: #ffff;
    width: 300px;
    height: 28px;
    font-size: 15px;
    border: none;

    }


    .conteudo{
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-left: -420px;
        margin-right: 0px;
        height: 100%;
    }




.formas{
    border: solid black 1px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-left: 40px;
    margin-top: 20px;
}

.part-2{
   display: flex;
        flex-direction: column;
    border-radius: 5px;
    box-shadow: -5px 5px #ACACAC;
       border: solid black 1px;
        height: 100%;
        width: 100%;
        margin-left: 35px;
        margin-top: 50px;
        width: 450px;
}






.pagam{
    
    display: flex;
    width: 100%;
    font-style: italic;
    align-items: center;
    justify-content: center;

    
}


.midCartao{
    display: flex;
    visibility: hidden;
    flex-direction: column;
    height: 100%;
    width: 100% ;
    padding: 10px;
    border-radius: 5px;
    
    h1{
        font-size: 2vh;
    }

    p{
        font-size: 1.2vh;
    }

    div{
        margin-bottom: 1vh;
        height: 6vh;
    }

    button{
        margin-top: 4vh;
        width: 35vh;
        margin-left: 2.5vh;
        height: 5vh;
        color: #fff;
        background-color: #02FF1B;
        font-size: 2vh;
    }
}

.title{
    font-size: 2vh;
}















.pag-3{
    margin-top: 52px;
    width: 390px;
    margin-left: 20px;
    margin-right: 2vh;
}

.resum{
    color: #00A9D7;
    margin-left: 50px;
    
}

.qtd{
    margin-top:21px ;
}

.creat{
    width: 100px;
    height: 120px;
}

.infm{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.season-3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

.req{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.section-req{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-req2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.pt{
    color: #00A9D7; 
}

.vl{
   color: #74BF79;
}

.verd-esc{
    color: #4AAE51;
}

.verd-esc2{
    color: #4AAE51;
    margin-left: 5px;
}


.pc{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:end ;
    
}

.valor{
    display: flex;
    justify-content: end;
}

.pontos{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.tot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #00A9D7; 
}

.verif{
width: 30px;
height: 30px;

}

.verificacoes{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.esp{
    margin-top: 4px;
}

.vf{
    display: flex;
    flex-direction: row;
    border: solid black 1px;
    margin-top:20px ;
    border-radius: 10px;
}

.verificado{
    height:30px;
    width: 30px;
    margin-left: 5px;
}

.nom{
    padding: 8px;
    font-size: 18px;
    margin-left: 12px;
}



.midCartao{
    display: flex;
    flex-direction: column;


    input{
        height: 3vh !important;
        border-radius: 5px;
    }

    .title{
        margin-top: 2vh;
        font-size: 3vh;
        margin-bottom: 2vh;
    }
    
    .imgCartao{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .protecao{
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: 1px solid black;
        align-items: center;
        height: 20px !important;
        border-radius: 5px;
        width: 41vh;
        padding: 10px;
    }
    
    .campoCartao{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 4vh !important;
        
    }
    
    .nomeComBandeiras{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .nomeCartao{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .input{
        width: 41vh !important;
        height: 3vh;
        background-color: #D9D9D9;
    }
    
    .validade{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 0vh;
        gap: 10px;
    }
    
    .input2{
        width: 6vh !important;
        height: 3vh;
        background-color: #D9D9D9;
    }
    .cvv{
        display: flex;
        flex-direction: column;
        
        h1{
            margin-bottom: .5vh;
        }
        p{
            padding-top: .5vh;
        }
        
    }

    .input333{
        width: 10vh !important;
        background-color: #D9D9D9;
        height: 5vh;
    }

    .selectpg3{
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
        gap: 2px;
        height: 10vh;
        gap: 5px;
        
}

    .disgraca{
        height: 4vh !important;
        width: 13vh;
        background-color: #D9D9D9;
        border-radius: 5px;
        border: 1px solid black;
    }

    .separacaoFrete{
        display: flex;
        flex-direction: row;
        height: 10%;
        width: 100%;
        margin-top: 1.5vh;
    }

    .bloco99{
        height: 4vh !important;
        border: 1px solid black;
        width: 18vh;
        background-color: #D9D9D9;
        border-radius: 5px;
    }

    .arrumarsabomba{
        display: flex;
        flex-direction: column;
        margin-left: 5vh;
        margin-top: 1.2vh;
        height: 10vh;
        font-style: italic;
        gap: 5px;
    }

        

















}

}

