*{
    box-sizing: border-box;
    margin: 0px;
}

.pagina-insercao{

    background-image: url('../../../public/assets/images/fundo.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: 137vh;
    background-position-y: 30px;

    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: 100%;
    width: 135vh;
    overflow-y: hidden !important;

    img.imagem-capa {
        height: 300px;
        width: 300px;
    }

    img.adicionar {
        height: 283px;
        width: 300px;
    }


    .td{
        display: flex;
        flex-direction: column;
    }
    
    .mid{
        display: flex;
        background-color: #d9d9d9;
        height: 100%;
        width: 135vh;

        .title{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4vh;
            padding-bottom: 5vh;

            h1{
                color: #000 ;
                
            }
        }
    

        .inserir{
            display: flex;
            flex-direction: column;
            border: 2px solid black;
            height: 70vh !important;
            width: 130vh;
            background-color: #fff;
            margin-left: 2vh;

            .pt{
                margin-top: 2vh;
                display: flex;
                flex-direction: column;
                margin-left: 4vh;
                width: 30vh;

                h1{
                    font-size: 3vh;
                    margin-bottom: 1vh;
                    width: 50vh;
                }

                input{
                    height: 6vh;
                    width: 70vh;
                }

                input::placeholder{
                    font-size: 3vh;
                    padding-left: 2vh;
                }

                img{
                    position: absolute;
                    right: 111vh;
                    bottom: 32.5vh;
                }
                p{
                    position: absolute;
                    right: 115vh;
                    bottom: 31.3vh;
                    width: 1px;
                    height: 6vh;
                    background-color: #000;
                }
            }


            .pt2{
                display: flex;
                flex-direction: row !important;
                gap: 4vh;

                margin-top: 2vh;
                display: flex;
                flex-direction: column;
                margin-left: 4vh;
                width: 20vh;

                h1{
                    font-size: 3vh;
                    margin-bottom: 1vh;
                }

                input{
                    height: 6vh;
                    width: 33vh;
                }


            }




            button{
                background-color: #2D5A68;
                color: #fff;
                border: none;
                padding: 20px 30px;
                font-size: 3vh;
                margin-top: 5vh;
                width: 40vh;
                margin-left: -20vh;
            }

        }

    }

    .tudoo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #d9d9d9;
        height: 85vh;
        
    }


    .adicionar{
        position: relative;
        bottom:25vh;
        border: 2px solid black;
        padding: 50px;
        left: 10vh;
        border-radius: 20px;
}

    #imagemCapa{
        visibility: hidden;
        position: absolute;
    }

    .imagem-capa{
        position: relative;
        width: 300px;
        width: 300px;
        bottom:30vh;
        left: 28vh;
        border-radius: 10px;
        border: 2px solid black;
    }

}