.pagina-cadastro{

    background-image: url('../../../public/assets/images/fundo.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 137vh;
    background-position-y: 130vh;


    display: flex;
    flex-direction: column;
    



.cabeçalho{
    display: flex;
  justify-content: space-between;
    background-color:#D9D9D9;
    height: 115px;
    width: auto;
    
}

.cabeçalho img{
    display: flex;
    height: 195px;
    margin-top: -20px;
   align-items: center;
   margin-right: 50px;
}

.genero{
    margin-left: 4.5vh;

    input{
        width: 44.5vh;
        height: 3.7vh;
    }
}

.cabeçalho p{
    display: flex;
    margin-top: 50px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 30px;

}

.conteudo{
    display: flex;
    background-color:adjust-color($color: #162b32); ;
    height: 675px;
    width: 100%;
    
}


.cds{
    display: flex;
    flex-direction: column;
    background-color: adjust-color($color: #D9D9D9);
   
    height: 655px;
    margin-left: 560px;
    margin-top: 10px;
    width: 450px;
}

.topo1 h1 {
    font-size: 25px;
    text-align: center;
    padding: 3px;
    background-color: #fff;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 40px;
    margin-bottom: 1vh;
}

.prf{
    display: flex;
    justify-content: flex-start;

}

.prf p{
    display: flex;
    margin-left: 35px;
     font-size: 17px;
     margin-bottom: 1vh;
     margin-top: 0vh;
}

.bt1{
    display: flex;
    height: 35px;

}

.bt1 input{
    width: 380px;
    margin-left: 35px;
    font-size: 15px;
  margin-right: 50px;
}

.mrc{
    display: flex;
  margin-left: 35px;
margin-top: 15px;

}

.mrc p{ 
    display: flex;
    font-size: 13px;
}

.bt2 input{
    width: 380px;
    height: 4vh;
    margin-left: 35px;
    font-size: 15px;
  margin-right: 50px;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.bt2{
    display: flex;
    height: 35px;
    margin-bottom: 2vh;
}

.bt3 input{
    display: flex;
    width: 365px;
    height: 4vh;
    margin-left: 35px;
    font-size: 15px;
  margin-right: 50px;
  margin-bottom: 0vh;
  margin-top: 4vh;
}

.nm input{
        display: flex;
        width: 380px;
        margin-left: 35px;
        font-size: 15px;
      margin-right: 50px;  
      margin-top: 20px;
      height: 30px;
}

.nm{
    display: flex;
    height: 55px;

}

.dt input{
    display: flex;
    width: 390px;
    margin-left: 35px;
    font-size: 15px;
  margin-right: 50px;  
  margin-top: 20px;
  height: 30px;
}

.dt{
    display: flex;
    height: 55px;

}


.tl input{
    display: flex;
    width: 145px !important;
    font-size: 15px;
  margin-right: 40px;  
  margin-top: 20px;
height: 30px;
width: 134px;
margin-left: 35px;
}

.tl{
    display: flex;
    height: 55px;
   
}

.wt{
        display: flex;
      margin-left: 40px;
    margin-top: 20px;
}

.wt p{ 
    display: flex;
    font-size: 14px;
}

.pd{
    display: flex;
      margin-left: 40px;
    margin-top: 20px;
}

.pd p{ 
    display: flex;
    font-size: 14px;
   
}

.sa input{
    display: flex;
    font-size: 15px; 
height: 30px;
margin-top: 20px;
margin-left: 35px;
width: 350px;
margin-bottom: 20px;
}

.botao{
    display: flex;
   margin-left: 128px;
   margin-top: 40px;
   background-color: #162b32;
   color: #ffffff;
   height: 50px;
   width: 190px;
   font-size: 20PX;
align-items: center;
justify-content: center;
border: none;
border-radius: 10px;
border: 2px solid #000;
}


}