

.pagina-produto{
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;
}

.pagina-listar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    align-items: center;
    background-color: #d9d9d9;
    
    .container2{
        background-color: #d9d9d9;
        margin-top: 5vh;



        .buttons{
            display: flex;
            flex-direction: row;
            margin-bottom: 5vh;
            
            input{
                border: 1px solid black;
                background-color: #d9d9d9;
            }


            button{
                background-color: transparent;
                border: 1px solid black;
                margin-left: 5vh;
                font-size: 20px;
                padding: 10px 20px;
            }
        }




        h1{
            margin-bottom: 3vh;
        }

        input{
            outline: none;
            font: 20px 'Inter';
            padding: 5px;
            width: 25vh;
        }

        input::placeholder{
            padding-left: 7vh;
            color: black;
        }

        table{
            gap: 5vh !important;
            width: 80vh;
        }


    }

    

    .lupa{
        position: relative;
        top: 1vh;
        right: 24vh;
    }


    .tabela{
        

        th{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    }



}