

.pagina-produto{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;


.pagina-listar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    align-items: center;
    background-color: #d9d9d9;
    
    .container2{
        background-color: #d9d9d9;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .buttons{
            display: flex;
            flex-direction: row;
            margin-bottom: 5vh;
            
            input{
                border: 1px solid black;
                background-color: #d9d9d9;
            }


            button{
                background-color: transparent;
                border: 1px solid black;
                margin-left: 5vh;
                font-size: 20px;
                padding: 10px 20px;
            }
        }




        h1{
            margin-bottom: 3vh;
        }

        input{
            outline: none;
            font: 20px 'Inter';
            padding: 5px;
            width: 25vh;
        }

        input::placeholder{
            padding-left: 7vh;
            color: black;
        }

       


    }

    

    .lupa{
        position: relative;
        top: 1vh;
        right: 24vh;
    }


.tabela{
    margin-left: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 140vh;
    
    thead{
        border: 1px solid black;
    }

}

.tabela tbody{
    display: flex;
    flex-direction: column;
    width: 140vh !important;
    align-items: center;
    justify-content: space-between;
}

    /* Estilos para as células de cabeçalho da tabela */
.tabela th {
    text-align: center;
    font-weight: bold;
    padding: 9px;
    width:140vh;
    
}

/* Estilos para as células de dados da tabela */
.tabela td {
    padding: 10px;
    text-align: center !important;
    width: 110vh;
}


.sac img{
display: flex;
height: 25px;
margin-right: 10px;
}

.ca{
    display: flex;
    align-items: center;
 
}

.ca img{
display: flex;
height: 25px;
margin-right: 10px;





}



.ca1{
    display: flex;
    
    align-items: center;
 
}

.ca1 img{
display: flex;
height: 25px;
margin-right: 10px;

}

}

}