.pagina-whey{

.tudo{
    display: flex;
    flex-direction: column;
    height: 100%;
 
}

.titulo{
    display: flex;
    background-color:#162b32 ;
    height: 300px;
}

.plvs{
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    margin-left: 150px;
}

.plvs h1{
    display: flex;
    font-size: 50px;
    margin-top: 85px;
}


.imagem{
    display: flex;
    height: 270px;
    margin-left: 180px;
    margin-top: 15px;
}

.cont{
    display: flex;
    flex-direction:row ;
    background-color: #162b32;
    margin-top: 120px;
    width: 170px;
    margin-left: 35px;
    height: 400px;
    border-radius: 30px;
}

.sabores{
    
    margin-top: 20px
}

.sabores input{
display: flex;
margin-top: 20px;
margin-left: 40px;
}

.sabores P{
    display: flex;
    margin-top: -15px;
    margin-left: 27px;
    font-size: 17px;
    color: #ffffff;
}

.tm{
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9 ;
    background-image: url('../../../public/assets/images/logo-cortada.png');
    background-size:57%;
    background-repeat: no-repeat;
    background-position: 550px;
    position: relative ;
    background-position-y: -150px;
}


.l1{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 50px;
}

.l1 h1{
    display: flex;
    color: #108D1C;
    font-size: 25px;
    margin-top: 10px;
}

.produto1{
    display: flex;
    flex-direction: column;


}

.produto1 img{
    display: flex;
height: 300px;
width:250px;
}

.produto1 p{
    display: flex;
  width: 400px !important;
  margin-top: 10px;
}

.produto2{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.produto2 img{
    display: flex;
height: 300px;
width:250px;
}

.produto2 p{
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.l2{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 70px;
}

.l2 h1{
    display: flex;
    color: #108D1C;
    font-size: 25px;
    margin-top: 10px;
}


.produto3{
    display: flex;
    flex-direction: column;
}

.produto3 img{
    display: flex;
height: 300px;
width:250px;
}

.produto3 p{
    display: flex;
  width: 400px !important;
  margin-top: 5px;
}

.produto4{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.produto4 img{
    display: flex;
height: 300px;
width:250px;
}

.produto4 p{
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.l3{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.l3 img{
    display: flex;
height: 300px;
width:250px;
}


.l3 h1{
    display: flex;
    color: #108D1C;
    font-size: 25px;
    margin-top: 10px;
}


.l3 p{
    display: flex;
  width: 280px !important;
  margin-top: 5px;
}

}