.pagina-login{
    display: flex;
    flex-direction: column;


.cabec{
    display: flex;
    flex-direction: row;
    height: 15vh;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: space-between;
    position: relative;


    p{
        font-size: 3.3vh;
        width: 38vh;
    }

    .loguinha{
        display: flex;
        flex-direction: column;
        margin-top: 18vh;
    }

    .bolinha{
        border: 1px solid black;
        border-radius: 15vh;
        background-color: #D9D9D9;
        height: 27vh;
    }
    .logo{
        margin-top: -24vh;
    }



    .sla{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 4vh;

        a{
            font-size: 5vh;
            margin-left: 4vh;
            background-color: transparent;
            border: none;
            margin-right: 7vh;
            font-style: italic;
            color: #000;
        }
    }
}

.erroTag{
    color: #162B32;
    font-style: italic;
    font-size: 2.5vh;
    position: absolute;
    bottom: 62vh;
    right: 92vh;
}

.mid{
    display: flex;
        background-color: #162B32;
        height: 85vh;
        justify-content: center;
        align-items: center;




        .blocao{
            display: flex;
            flex-direction: column;
            background-color: #D9D9D9;
            align-items: center;
            height: 60vh;
            margin-top: 8vh;
            width: 60vh;
            border-radius: 10px;
            box-shadow: 40px black;
            border: 2px solid black;
        

        .l1{
            margin-top: 8vh;
            display: flex;
            flex-direction: row;
            border: 3px solid black;
            border-radius: 10px;


            input{
                background-color: #162B32;
                width: 45vh;
            }

            input::placeholder{
                font-size: 3vh;
                padding-left: 2vh;
                color: #fff;
            }
            input:focus{
                font-size: 20px;
                color: #fff;
                padding-left: 3vh;
            }
            input::blur{
                font-size: 20px;
                color: #fff;
                padding-left: 3vh;
            }

        }

        .check{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3vh;
            gap: 20vh;

            .lembre{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 2vh;
                width: 17vh;
                p{
                    font-size: 1.5vh;
                    margin-left: 1vh;
                }
            }

            button{
                font-size: 1.5vh;
                text-decoration: underline;
                background-color: transparent;
                border: none;
                margin-right: 2vh;
                font-style: italic;
            }


        }

        .last{
            display: flex;
            flex-direction: column;
            margin-top: 4vh;
            align-items: center;

            button{
                background-color: #162B32;
                font-size: 4vh;
                padding: 10px 50px;
                color: #fff;
                margin-bottom: 2vh;
                font-style: italic;
            }

            p{
                font-size: 2vh;
            }

            a{
                color: #162B32;
                font-weight: bold;
                font-size: 2vh;
                margin-top: 1vh;
                font-style: italic;
            }
        }
        
    }

}




    }