.pagina-vitaminaOficial{

  background-image: url('../../../public/assets/images/fundo.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: 137vh;
  background-position-y: 30px;

  display: flex;
  flex-direction: column;
  height: 300vh;


  .titulo{
      display: flex;
      background-color:#162b32 ;
      height: 500px !important;
  }
  
  .plvs{
      display: flex;
      color: rgb(255, 255, 255);
      flex-direction: column;
      margin-left: 250px;
  }

  
  
  .plvs h1{
      display: flex;
      font-size: 50px;
      margin-top: 85px;
  }
  
  
  .imagem{
      display: flex;
      height: 270px;
      margin-left: 180px;
      margin-top: 15px;
  }
  
  .cont{
      display: flex;
      flex-direction:row ;
      background-color: #162b32;
      margin-top: 60px;
      width: 30vh !important;
      justify-content: center ;
      margin-left: 35px;
      height: 67vh!important;
      border-radius: 30px;
      text-align: center;
  }

  .cont2{
    display: flex;
    flex-direction:row ;
    background-color: #162b32;
    margin-top: 60px;
    width: 30vh !important;
    justify-content: center ;
    margin-left: 35px;
    height: 55vh!important;
    border-radius: 30px;
    text-align: center;
}
  
  .sabores h1{
    color: #fff;
      font-size: 3vh;
      width: 23vh;
      margin-top: 3vh;
      text-align: center;
      font-style: italic;
  }

  .sabores span{
    font-size: 2.5vh;
    font-weight: 0px;
  }
  
  .lateralPreco{
    display: flex;
    flex-direction: column;
  }
  
  
  
  .tm{
      display: flex;
      flex-direction: row;
      background-color: #D9D9D9 ;
      background-image: url('../../../public/assets/images/logo-cortada.png');
      background-size:57%;
      background-repeat: no-repeat;
      background-position: 550px;
      position: relative ;
      background-position-y: -350px !important;
      background-position-x: 665px !important;
      height: 1300vh !important;
  }
  
  
  .l1{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 5vh;
      height: 67vh;
  }
  
  .l1 h1{
      display: flex;
      color: #298f33;
      font-size: 25px;
      
  }
  .pr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    margin-left: 20vh;
    gap: 20vh;
}
  
  .produto1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-style: italic;
      gap: 10px;
      h1{
          margin-top: 0vh;
          font-size: 4vh;
      }
      span{
        font-size: 4vh;
      }
  }
  
  .produto1 img{
  height: 300px;
  width:300px;
  }
  
  .produto1 p{
      display: flex;
    width: 400px !important;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
      
  }
  
  
  
  }