.td{
display: flex;
flex-direction: column;
background-color: #D9D9D9;
border: solid black 1px;
height: 855px;
width: 600px;
margin-left: 37vh;
margin-top: 30px;




.ti{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.cu{
    display:flex;
    border: solid black 1px;
   flex-direction: column;
   margin-left: 37px;
   margin-top: 30px;
   margin-right: 37px;   
   height: 140px;
}
.ct{
   display: flex;
    margin-left: 37px;
    margin-top: 20px;
    margin-right: 37px;   
}

.ct p {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 15px;
}

.vita{
    display: flex;
    height: 100px;
        margin-left: -20px;
}

.fat{
    display: flex;
    margin-left: 100px;
    margin-top: -15px;
    font-weight: bold;
}

.ma{
    display: flex;
   margin-left: 20px;
   height: 20px;
   margin-top: -15px;
}

.me{
    display: flex;
    margin-right:20px; 
    height: 20px;
    margin-top: -15px;
}

.fat p{
    display: flex; 
    border: solid black 1px;
    font-size: 15;
    width: 30px;
    margin-top: -15px;
    justify-content: center;
}

.preço{
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin-left: 185px;
    margin-top: -15px;      

}

.meio{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    border: solid black 1px;
    margin-left: 60px;
    margin-right: 60px;
   
   
}


.rp{
    font-size: 12px;
    justify-content: center;
    align-items: center;   
    height: 50px;   
    
}

.rp h1{
    display: flex;
    margin-top: 10px;
}


.m2{
    display: flex;
    background-color: white;
    border: solid black 1px;
    margin-left: 60px;
    margin-right: 60px;
    height: 150px;
   
}

.sub{
    display: flex;
    font-size: 10px;
    flex-direction: column;
}

.sub h1{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.sub h2{
    display: flex;
    margin-left: 400px;
    margin-top: -20px;
    color: #108D1C;
    font-size: 16px;

}



.sub h3{
    display:flex ;
    margin-top: 90px;
    justify-content: center;
    color: #108D1C;
    font-size: 15px;   
}

.quase{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;


}

.mage{
    display: flex;
    
}

.vit{
    display: flex;
    height: 45px;
    margin-top: 40px;
}

.text{
    display: flex;
    width: 300px;
    margin-top: 45px;
    font-size: 15px;    
    text-align: center;
    margin-left: -1px;
    color: #108D1C;
    font-size: 18px;
}



.final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.b1{
    display: flex;
    text-align: center;
    
    margin-top: 20px;
    
    button{
        background-color: #162B32;
        color: white;
        width: 300px;
        height: 50px;
        border-radius: 5px;

    }

   
}

.b2{
    display: flex;
    display: flex;
    text-align: center;
    
    margin-top: 50px;
    
    button{
        background-color: #162B32;
        color: white;
        width: 300px;
        height: 50px;
        border-radius: 5px;

    }
}

}